.bodyIndex{
    background-image: url(../media/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center;*/
}
.login-form{
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 5px;
    padding-bottom: 20px;
    background: white;
}
.title{
    background: #007bbf;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.border{
    border-bottom: 20px solid #fff;
}

.postInterna{
    background: #f2f2f2;
}

/*.menu{
    text-align: center;
}*/

.bodyPublicar{
    margin-top: 4em;
    background-image: url(../media/verPublicacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center;*/
}
.bodyPublicaciones{
    margin-top: 3em;
}
p{
    font-style: italic;
    font-family: cursive;
}
.boton, .exito{ height:16px; 
       background-image:url(../media/f.png); 
       padding-top:4px; 
       background-repeat:no-repeat; 
       padding-left:26px; 
       background-position:7% 50%; 
       font-size:11px; 
       font-weight:bold; 
       width:57px; 
       background-color:#4F62AA; 
       border-radius:3px; 
       color:#FFF; 
       font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
       display:inline-block}

.exito{ background-image:url(../media/exito.png);}